@model IEnumerable<Web_CRUD.Models.Employe>

@{
    ViewData["Title"] = "Index";
}

<h1>Show Employe</h1>
<button class="btn btn-danger"><a asp-action="Create">Create</a></button>
<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th >Password</th>
            <th>BirthDay</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Password</td>
                    <td>@item.BirthDay</td>
                    <td>@item.Email.ToLower()</td>
                    <td>@item.Age</td>
                <td>
                    @{
                        var gender = "";
                        if (item.Gender)
                        {
                            gender = "Nam";
                        }
                        else
                        {
                            gender = "Nu";
                        }
                    }
                    @gender
                </td>   
                <td>

                        
                        <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                        <a asp-action="List" asp-route-id="@item.Id">List</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <button class="btn btn-danger"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></button>
</div>